@use "../presets" as *;
@use "../mixins" as *;

 *,
 *::before,
 *::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  font-size: $font-size;
  font-family: $font-main;
}

body {
  background-color: $color-white;
  color: $color-gray;
}

h1 {
  font-size: 3.75rem;
  letter-spacing: 0.1em;
  font-family: $font-header;
  color: $color-white;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-family: $font-header;
  font-size: 2.5rem;
  letter-spacing: 0.25em;
  line-height: 3em;
  font-weight: 700;
  color:rgba(45, 54, 81, 1);
}

h3 {
  font-size: 1.125rem;
  letter-spacing: 0.06em;
  line-height: 1.25em;
  color: $color-gray;
  font-weight: 700;
  font-family: $font-header;
  text-align: center;
}

a {
  color: $color-white;
  text-decoration: none;
}

