@use "../../mixins" as *;
@use "../../presets" as *;

.footer {
  position: relative;

  min-height: 250px;

  text-align: center;

  background-color: $color-primary;

  &__container {
    @extend %container;
  }

  &__socials {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: $gap-x3;
    padding-bottom: 47px;

    gap: $gap;
  }

  &__socials::after {
    position: absolute;
    top: 120px;
    left: calc(50% - 37.5px);

    width: 75px;
    height: 2px;

    content: "";

    border: 2px solid rgba(255, 255, 255, 0.1);
  }

  &__image {
    background-color: $color-primary;

    &:hover {
      background-color: $color-gray;
    }
  }

  &__copy-title,
  &__copy-accent {
    letter-spacing: 0.3em;

    color: $color-gray;

    font-family: $font-main;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.25em;
  }

  &__copy-accent {
    letter-spacing: 0.05em;

    color: $color-white;

    font-weight: 700;
  }
}

.fab {
  transition: color 0.5s;

  color: $color-white;

  font-size: 36px;

  &:hover {
    color: $color-accent;
  }
}



