@use "../../presets" as *;
@use "../../mixins" as *;


.header-content {
  position: relative;
  z-index: 1;

  &__container {
    @extend %container;
  }

  &__title {
    margin: 0;
    text-align: center;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: $gap;
    border: 2px solid $color-white;
    background-color: &color-primary;
    opacity: 0.102;
    min-width: 250px;
    min-height: 60px;


  }
}